.title {
  font-size: 4rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}