.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.container {
  width: 90vw;
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100vh;
  padding: 3vh 0;
  max-height: 1000px;
  justify-content: space-between;
}

.title {
  font-size: 2.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.background {
  position: absolute;
  top: 5%;
  width: 100%;
}

.background::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.background::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.background::before,
.background::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 700px) {
  .background::before {
    transform: none;
    height: 300px;
  }

  .background::after {
    max-width: 50vw;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}